*.pkl
app/__pycache__
app/__pycache__/
app/modules/__pycache__
app/modules/__pycache__/
smartpub_env
smartpub_env/
app/credentials.txt
app/secret_key.txt
/app/credentials.txt
/app/secret_key.txt
app/crf_trained_files/*
app/embedding_models/*
nohup.out
smartpub_env/lib/python3.5/*

