<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Annotation">
    <meta name="author" content="WIS">

    <title>Modify Entity Annotation</title>

    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/static/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="/static/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/static/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="/static/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="/static/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="/static/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="/static/vendor/flag-icon-css/flag-icon.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="/static/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="/static/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!-- Inline -->
    <link rel="stylesheet" href="/static/examples/css/pages/search-result.css">

    <!-- Scripts -->
    <script src="/static/vendor/modernizr/modernizr.js"></script>
    <script src="/static/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="page-search">
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-container container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-arrow-down">Menu</span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" style="color:skyblue">Home</a></li>
                    <li><a href="/logout" style="color:skyblue">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Page -->
<div class="page animsition">
    <div class="container-fluid">
        <h3>Modify annotation for {{entity}}</h3>
        <h4>with a total of {{count}} occurrences in database</h4>
        <form id="#radio_checking" action="{{ url_for('select_label')}}" method="post">
            <div class="radio">
                <label><input type="radio" name="optradio" id="id_dataset" value="dataset">Dataset</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="id_method" value="method">Method</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="id_software" value="software">Software/Tool/System</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="id_noise" value="noise">Noise</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="id_other" value="other">Other</label>
            </div>
            <div class="text">
                <label><input type="text" name="ent" id="ent" value="{{entity}}" readonly> Keyword(s)</label>
            </div>
            <button type="submit" name="submit_button" value="submitted" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<!-- Core  -->
<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/bootstrap/bootstrap.js"></script>
<script src="/static/vendor/animsition/jquery.animsition.js"></script>
<script src="/static/vendor/asscroll/jquery-asScroll.js"></script>
<script src="/static/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/static/vendor/asscrollable/jquery.asScrollable.all.js"></script>
<script src="/static/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

<!-- Plugins -->
<script src="/static/vendor/switchery/switchery.min.js"></script>
<script src="/static/vendor/intro-js/intro.js"></script>
<script src="/static/vendor/screenfull/screenfull.js"></script>
<script src="/static/vendor/slidepanel/jquery-slidePanel.js"></script>

<!-- Scripts -->
<script src="/static/js/core.js"></script>
<script src="/static/js/site.js"></script>

<script src="/static/js/sections/menu.js"></script>
<script src="/static/js/sections/menubar.js"></script>
<script src="/static/js/sections/gridmenu.js"></script>
<script src="/static/js/sections/sidebar.js"></script>

<script src="/static/js/configs/config-colors.js"></script>
<script src="/static/js/configs/config-tour.js"></script>

<script src="/static/js/components/asscrollable.js"></script>
<script src="/static/js/components/animsition.js"></script>
<script src="/static/js/components/slidepanel.js"></script>
<script src="/static/js/components/switchery.js"></script>
<script src="/static/js/mark.min.js" charset="UTF-8"></script>


<!-- Scripts For This Page -->


<script>
    (function (document, window, $) {
        'use strict';
        var Site = window.Site;
        $(document).ready(function () {
            Site.run();
        });
    })(document, window, jQuery);
</script>

<script type="text/javascript">
    // Using jQuery.
    $(function () {
        $('form').each(function () {
            $(this).find('input').keypress(function (e) {
                // Enter pressed?
                if (e.which == 10 || e.which == 13) {
                    this.form.submit();
                }
            });
            $(this).find('input[type=submit]').hide();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>
<script>
    var context = document.querySelector(".container"); // requires an element with class "context" to exist
    var instance = new Mark(context);
    instance.mark('{{entity}}'); // will mark the keyword "test"
</script>
<script>
    function send() {
        if (document.getElementById('id_dataset').checked == true) {
            console.log('you selected dataset')
        }
        if (document.getElementById('id_method').checked == true) {
            console.log('you selected method')
        }
        if (document.getElementById('id_other').checked == true) {
            console.log('you selected other')
        }
    }
</script>
</body>

</html>