<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>Search result | Remark Admin Template</title>

  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/static/css/site.min.css">

  <!-- Plugins -->
  <link rel="stylesheet" href="/static/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/static/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/static/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/static/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/static/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/static/vendor/flag-icon-css/flag-icon.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/static/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <!-- Inline -->
  <link rel="stylesheet" href="/static/examples/css/pages/search-result.css">

  <!--[if lt IE 9]>
    <script src="..//static/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="..//static/vendor/media-match/media.match.min.js"></script>
    <script src="..//static/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="/static/vendor/modernizr/modernizr.js"></script>
  <script src="/static/vendor/breakpoints/breakpoints.js"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body class="page-search">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">


    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <form class="page-search-form" role="search" action="search" method="post" autocomplete="on">
          <div class="input-search input-search-dark" style="top: 20px;" align="center" >
            <!--<i class="input-search-icon wb-search" aria-hidden="true"></i>-->
            <input type="text" class="form-control" name="search" placeholder="Search..." size="30">
              <input type="submit" />

          </div>
        </form>
        <!-- Navbar Toolbar -->

        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->

        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <!-- End Site Navbar Seach -->
    </div>
  </nav>



  <!-- Page -->
  <div class="page animsition">
    <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

          <h1 class="page-search-title">Search Results For {{search_text}}</h1>
          <p class="page-search-count">About
            <span>1,370</span> result (
            <span>0.13</span> seconds)</p>
          <ul class="list-group list-group-full list-group-dividered">
            {% for id, title,journal,year,authors in zipped_lists %}
              <li class="list-group-item">
                                <h4><a class="search-result-link" href="http://127.0.0.1:5000/publication/{{ id }}">{{ title }}</a></h4>
                <!--<table>-->
                  <!--<tr>-->
                                  {% for author in authors %}
                <span style="display: inline-block"><a class="search-result-link" href="http://127.0.0.1:5000/author/{{author}}"> {{author}} &nbsp</a></span>

                     <!--<td><a class="search-result-link" href="http://127.0.0.1:5000/author/{{author}}"> {{author}}, &nbsp</a> </td>-->


                 {% endfor %}
                <!--</tr></table>-->
                                <!--<a class="search-result-link" href="http://127.0.0.1:5000/publication/{{ id }}">{{ authors }}</a>-->
                                <small style="display: block">{{ journal}}, &nbsp {{ year}} </small>

              {% endfor %}

            <!--{% for list1item in title %}-->
	                    	<!--{% for list2item in journal %}-->

                            <!--{% for list3item in year %}-->

                                <!--<li class="list-group-item">-->
                                <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">{{ list1item }}</a></h4>-->
                                <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">{{ list2item }}</a>-->
                                <!--<p>{{ list3item}} </p>-->


	                    	<!--{% endfor %}-->

	                    	<!--{% endfor %}-->
	                    	<!--{% endfor %}-->
            </li>
            <!--<li class="list-group-item">-->
              <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">Parum Interiret Consequatur</a></h4>-->
              <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">https://github.com/amazingSurge?tab=repositories</a>-->
              <!--<p>Regula magnosque ait. Rebus intellegimus occulte instituendarum quoniam-->
                <!--fabulae.Regula magnosque ait. Rebus intellegimus occulte instituendarum-->
                <!--quoniam fabulae.</p>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
              <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">Afficitur Nos Veritus</a></h4>-->
              <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">https://github.com/amazingSurge?tab=repositories</a>-->
              <!--<p>Elaboraret animum primo. Civibus assueverit consequatur affert viros-->
                <!--scribi.Elaboraret animum primo. Civibus assueverit consequatur-->
                <!--affert viros scribi.</p>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
              <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">Tamquam Secumque Nacti</a></h4>-->
              <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">https://github.com/amazingSurge?tab=repositories</a>-->
              <!--<p>Pronuntiaret liberos probes horribiles acri ita seiunctum aristippus.-->
                <!--Humili.Pronuntiaret liberos probes horribiles acri ita seiunctum-->
                <!--aristippus. Humili.Pronuntiaret liberos probes horribiles acri-->
                <!--ita seiunctum aristippus. Humili.</p>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
              <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">Aliquo Difficile In</a></h4>-->
              <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">https://github.com/amazingSurge?tab=repositories</a>-->
              <!--<p>Omnes arbitrer ancillae fictae maximam renovata, fieri pecuniae mundus.Omnes-->
                <!--arbitrer ancillae fictae maximam renovata, fieri pecuniae mundus.</p>-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
              <!--<h4><a href="https://github.com/amazingSurge?tab=repositories">Quale Momenti Eitam</a></h4>-->
              <!--<a class="search-result-link" href="https://github.com/amazingSurge?tab=repositories">https://github.com/amazingSurge?tab=repositories</a>-->
              <!--<p>Perpetiuntur inportuno iudicio errem. Reperire aliud delectus referta-->
                <!--fruuntur.Perpetiuntur inportuno iudicio errem. Reperire aliud delectus-->
                <!--referta fruuntur.</p>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<nav>-->
            <!--<ul class="pagination pagination-no-border">-->
              <!--<li class="disabled">-->
                <!--<a href="javascript:void(0)" aria-label="Previous">-->
                  <!--<span aria-hidden="true">&laquo;</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>-->
              <!--<li><a href="javascript:void(0)">2</a></li>-->
              <!--<li><a href="javascript:void(0)">3</a></li>-->
              <!--<li><a href="javascript:void(0)">4</a></li>-->
              <!--<li><a href="javascript:void(0)">5</a></li>-->
              <!--<li>-->
                <!--<a href="javascript:void(0)" aria-label="Next">-->
                  <!--<span aria-hidden="true">&raquo;</span>-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </nav>
        </div>
      </div>
      <!-- End Panel -->
    </div>
  </div>
  <!-- End Page -->


  <!-- Footer -->
  <footer class="site-footer">
    <span class="site-footer-legal">© 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">ScholarSurf</a></span>
    <!--<div class="site-footer-right">-->
      <!--Crafted with <i class="red-600 wb wb-heart"></i> by <a href="http://themeforest.net/user/amazingSurge">amazingSurge</a>-->
    <!--</div>-->
  </footer>
  <!-- Core  -->
  <script src="/static/vendor/jquery/jquery.js"></script>
  <script src="/static/vendor/bootstrap/bootstrap.js"></script>
  <script src="/static/vendor/animsition/jquery.animsition.js"></script>
  <script src="/static/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/static/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/static/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/static/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

  <!-- Plugins -->
  <script src="/static/vendor/switchery/switchery.min.js"></script>
  <script src="/static/vendor/intro-js/intro.js"></script>
  <script src="/static/vendor/screenfull/screenfull.js"></script>
  <script src="/static/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- Scripts -->
  <script src="/static/js/core.js"></script>
  <script src="/static/js/site.js"></script>

  <script src="/static/js/sections/menu.js"></script>
  <script src="/static/js/sections/menubar.js"></script>
  <script src="/static/js/sections/gridmenu.js"></script>
  <script src="/static/js/sections/sidebar.js"></script>

  <script src="/static/js/configs/config-colors.js"></script>
  <script src="/static/js/configs/config-tour.js"></script>

  <script src="/static/js/components/asscrollable.js"></script>
  <script src="/static/js/components/animsition.js"></script>
  <script src="/static/js/components/slidepanel.js"></script>
  <script src="/static/js/components/switchery.js"></script>

  <!-- Scripts For This Page -->


  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>

<script type="text/javascript">
// Using jQuery.

$(function() {
    $('form').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {
                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
});
</script>
</body>

</html>
